.button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: #505050;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.function {
  background-color: #a5a5a5;
  color: black;
}

.button.operator {
  background-color: #ff9500;
  color: white;
}

.button.zero {
  grid-column: span 2;
  width: 132px;
  border-radius: 30px;
  justify-content: flex-start;
  padding-left: 20px;
}